.embla {
  overflow: hidden;
  width: calc(100% - 80px);
}

.embla__container {
  display: flex;
}

.embla__slide {
  min-width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.product-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 300px; /* Altura fixa para todos os cards */
}

.product-image {
  max-width: 100%; /* Não altera a largura da imagem */
  height: auto; /* Mantém a proporção da imagem */
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
}

.image-block {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Espaço entre a imagem e a descrição */
}

.product-info {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-info h2 {
  font-size: 18px;
  margin: 10px 0;
}

.product-info p {
  font-size: 16px;
  margin: 5px 0;
}
.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.embla__button--prev {
  left: 5px;
}

.embla__button {
  background: rgba(234, 234, 234, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;
}

.embla__button--next {
  right: 5px;
}

.View-product-link {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
}


.View-product {
  height: 50px;
  width: 50%;
  background-color: black;
  color: white;
  font-family: sans-serif;
  border-radius: 30px;
  cursor: pointer;
  border: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* Responsividade */
@media (max-width: 768px) {
  .embla__slide {
    min-width: 50%; /* Dois itens por vez em telas médias */
  }
}

@media (max-width: 480px) {
  .embla__slide {
    min-width: 100%; /* Um item por vez em telas pequenas */
  }
}


